<div class="search">
  <label for="search">Search : </label>
  <input type="text" [(ngModel)]="searchInput">
  <button (click)="search()">🔎</button>
</div>

<div class="products" appGsapEntrance>
  @for (p of products(); track p.id) {

    <!--    <div class="row" [ngClass]="{'even' : $even, 'odd' : $odd}">-->
    <div [class.row]="true" [class.even]="$even" [class.odd]="$odd" appGsapEntrance>
      <p>{{ p.id }}</p>
      <p>{{ p.name }}</p>
      <p>{{ p.price | money | uppercase }}</p>
      <img [src]="p.image" [alt]="'image de ' + p.name" height="150">

      @if (p.liked) {
        <button (click)="toggleLike(p)">❤️</button>
      } @else {
        <button (click)="toggleLike(p)">🩶</button>
      }

      <button (click)="addToCart(p)">Add to cart</button>
      <button (click)="setSelectedProduct(p)">❌</button>
    </div>


  } @empty {
    <p>No products to display</p>
  }
</div>
<app-cart
  (minus)="removeQuantity($event)"
  (plus)="addQuantity($event)"
  (delete)="removeFromCart($event)"
></app-cart>

@if (selectedProduct()) {
  <app-delete-confirmation
    [productName]="selectedProduct()!.name"
    (onCancel)="cancelDeleting()"
    (onConfirm)="confirmDeleting()"
  >
    <h2>Supression d'un produit</h2>
    <ng-template #customActions>
      <button (click)="cancelDeleting()" appGsapHover>Stooooooooooooooooooop</button>
      <button (click)="confirmDeleting()" appGsapHover>Explosion!</button>
    </ng-template>
  </app-delete-confirmation>
}
